<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
</head>
  <body>
    <h1>Commentator</h1>
    <button type="button" onclick="HACBclick()">Hold and Comment</button>
    <div id = "comment_box" style="display:none">
      <textarea cols="40" rows="5" type="text" id="comment" name="FirstName" value="Enter Commentary"></textarea>
      <button type="button" onclick="send()">Send</button>
    </div>
  </body>

</html>

<script language="javascript">
function HACBclick() {
  $.get("api/hold_and_comment", function(data){
      console.log(data);
      document.getElementById("comment").value = '';
      $("#comment_box").show();
  });
  }
  function send() {
    var comment = $("#comment").val();
    var data = { comment: comment } ;
    data = JSON.stringify(data);
    debugger;
      $.ajax({
        type: "POST",
        url: "api/comment_reciever",
        data: data,
        success:   function(data, status){
              console.log(data);
              $("#comment_box").hide();
          },
        dataType: "json"
      });
    }
</script>
